*{
    font-family: arial;
}
h1 {
    margin-left: 30%;
    margin-top: 100px;
}
.div_1 {
    margin: 5px;
    padding: 50px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.479);
}
.s_1 {
    width: 50%;
    height: 30px;
}
.text_i {
    margin-top: 10px;
    height: 35px;
    width: 40%;
    padding-left: 13px;
    outline: none;
    margin-bottom: 10px;
}
.text_1_date {
    margin-left: 90px;
}
.r_i {
    margin-right: 100px;
}
.btn {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(44, 177, 163);
    width: 20%;
    height: 35px;
}
.btn:hover {
    transition: 0.5s;
    transform: scale(1.05);
}
.img {
    position: absolute;
    margin-left: 7%;
    width: 11%;
    margin-top: -110px;
}
@media only screen and (max-width: 600px) {
    /* .div_1{
        
    } */
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}